@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
  --main: #5668F6;
  --main-glass: #EEF0FE;
  --main-dark: #3749DB;
  --main-light: #7383FF;

  --accent: #CC56F6;
  --accent-glass: #FAEEFE;
  --accent-dark: #B037DB;
  --accent-light: #DA73FF;

  --pure-white: #ffffff;
  --pure-black: #000000;

  --97-gray: #f7f7f7;
  --75-gray: #bfbfbf;
  --50-gray: #808080;
  --25-gray: #404040;

  --brand-gradient: linear-gradient(45deg, #5668F6 0%, #CC56F6 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--main-glass);

  font-family: 'Poppins', sans-serif;
  line-height: 150%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
